.sidebar-nav {
	padding: 9px 0;
}
.hero-unit{
	padding :10px;
}
#playerName{
	width:70%
}
.clsHidden {
	display:none;
}
.card{
	float: left;
	margin-right: -150px;
	width: 224px;
	height: 312px;
	box-shadow: -1px -1px 1px black;
	border-radius: 11px;
	display: none;
}

.card-svg {
    width: 485px;
    height: 683px;
    overflow:  hidden;
    margin-left: -260px;
    margin-top: -370px;
}
.active-card {
	margin-top: -20px;
}

#submit_card {
	float:left;
}
