.clsHidden {
	display:none;
}
body{
	margin: 0 0 0 0;
}

.card{
	display: inline-block;
	position: relative;
	margin-right: -150px;
	width: 224px;
	height: 312px;
	box-shadow: -1px -1px 1px black;
	border-radius: 11px;
	background-position: -260px -370px;
}
#card-container {
	padding: 10px;
	padding-top: 55px;
	min-height: 312px;
}

.active-card {
}

#submit_card {
}

#GameFrm, #gameHeader{
	width: 80%;
	margin: auto;
	height: 1.5em;
}

#header {
	width: 100%;
	height: 1.5em;
	background-color: black;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 255;
}

.lastCard, .cardsLeft {
	width: 2em;
	padding-left:.5em
}
.name {
	width: 10em;
	padding-left:.5em
}
.message {
	padding-left:.5em
}

#playerList {
	padding: 0;
	border: 1px solid black;
	border-radius: 5px;
}

#board{
	display: none;
}
#rules{
	height: 500px;
}
.ready {
	height: 1em;
	width: 1.5em;
}

#playerList li{
	display: block;
	border-bottom: 1px solid black;
	height: 1em;
}

.ready, .message, .name, .lastCard, .cardsLeft{
	margin: 0 0 0 0;
	height: 1em;
	border-left: 1px solid black;
	display: inline-block;
	overflow: hidden;
	text-align: center;
}

#main {
	width: 80%;
	margin: auto;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}