body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}
.hero-unit{
	padding :10px;
}
#playerName{
	width:60%;
	margin-left:5px;
	margin-top:7px;
}
#gameListJoin input,#gameListInProgress input{
	margin:5px;
	margin-left:40px;
}
#txtGame, #nCards, #nPlayers{
	background-color: #428bca;
	font-size:1em;
	line-height:1em;
}
.card {
	width :150px;
	height:250px;
	border-radius:2em;
	border:1px solid black;
	background-color: blue;
	color:white;
	box-shadow:0 0 15px 2px #abcdef;
}

.active-card {
	background-color: red !important;
}

