body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}
.hero-unit{
	padding :10px;
}
#playerName, #txtMessage{
	width:60%;
	margin-left:5px;
	margin-top:7px;
}
#gameListJoin input,#gameListInProgress input{
	margin:5px;
	margin-left:40px;
}
#txtGame, #nCards, #nPlayers{
	background-color: #428bca;
	font-size:1em;
	line-height:1em;
}
#txtName{
	font-size:1em;
	line-height:1em;
	background-color: #eee;
	color:#333;
}

#txtChat{
	width:80%;
}

.card{
	display: inline-block;
	position: relative;
	margin-right: -150px;
	width: 224px;
	height: 312px;
	box-shadow: -1px -1px 1px black;
	border-radius: 11px;
	background-position: -260px -370px;
}

#card-container {
	padding: 10px;
	padding-top: 55px;
}

.active-card {
}

.lastCard, .cardsLeft {
	width: 2em;
	padding-left:.5em
}
.name {
	width: 10em;
}

.ready {
	height: 1em;
	width: 1.5em;
}

#playerList li{
	display: block;
	border-bottom: 1px solid black;
	height: 1em;
}

.ready, .name, .lastCard, .cardsLeft{
	margin: 0 0 0 0;
	height: 1em;
	border-left: 1px solid black;
	display: inline-block;
	overflow: hidden;
	text-align: center;
}