<!DOCTYPE html>
<html>
    <head>
        <title>The Game of War</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

        <!-- socket.io library -->
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div id='main'>
            <form id="GameFrm">
                <label for="playerName">Player Name</label>
                <input type="text" name="playerName" value="" placeholder= "Enter Player Name">
                <br/>
                <input type="button" id="create" value="Create Game">
                <br/>
                <select id="gameList" name="games" size="5">
                </select>
                <input type="button" id="join" value="Join Game">
                <input type="button" id="start_button" value="Start">
            </form>
        </div>
        <div id='board'>
            <form id="GameStart">
                <label for="Game">Game ID</label>
                <input type="text" name="txtGame" value="" readonly>
                <br/>
                <input type="button" id="deal" value="Deal Game">
                <select id="playerList" name="players" size="5">
                </select>
            </form>
        </div>
        <script>
            var serverSocket = io.connect("http://localhost");
           
            $("#start").on("click", function() {
                var gameId=$("[name='txtGame']").val();
                serverSocket.emit("create", {gameId:gameId});
            });
            
            $("#create").on("click", function() {
                var player = $("[name='playerName']").val();
                if (player.length <= 0){
                    alert("please insert a name")
                } else {
                    serverSocket.emit("create", {playerName:player});
                }
                // update the URL without posting
               // history.pushState({name: fileName}, fileName, fileName);

               //if we do this, we'll have to manually handle
               //clearing the html and changing it to be the game board

            });
            $('#deal').on('click', function () {
                var gameID = $("#deal").data("gameID")
                serverSocket.emit("deal");
            });

            $("#join").on("click", function(){
                var player = $("[name='playerName']").val();
                var gameID = $('#gameList').val();
                console.log(gameID);
                if (player.length <= 0){
                    alert("please insert a name");
                } else if(!gameID){
                    alert("please select a game");
                } else {
                    serverSocket.emit("join", {
                        playerName: player,
                        gameID: gameID});
                }
            });
            serverSocket.on("updateGameList", function(gameList) {
                
                $('#gameList').html('');
                var gameListLength = gameList.length;
                for(var i = 0; i < gameListLength; i++) {
                    var disabled = "disabled";
                    if(gameList[i].openToJoin){
                        disabled = '';
                    }
                    $('#gameList').append('<option '+ disabled +' value ='+ gameList[i].id +'>' + gameList[i].id + '</option>');
                }
                //to do: check if game is OpenToJoin, grey out if it isn't
            });
            serverSocket.on("join", function(data){
                if(data.success){
                    //update view? YES!!
                    // history.pushState({name: fileName}, fileName, fileName);
                    $('#deal').data('gameID', data.gameID);
                } else {
                    alert("failed to join game, please try again");
                }
            });

            serverSocket.on("cardDecks", function(data){
                console.dir(data)
            });
        </script>
    </body>
</html>