<!DOCTYPE html>
<html>
    <head>
        <title>The Game of War</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

        <!-- socket.io library -->
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div id='main'>
            <form id="GameFrm">
                <label for="playerName">Player Name</label>
                <input type="text" name="playerName" value="" placeholder= "Enter Player Name">
                <br/>
                <input type="button" id="create" value="Create Game">
                <ul id="gameList">
                    <li></li>
                </ul>
                <input type="button" id="join" value="Join Game">
            </form>
        </div>
        <div id='board'>
            <form id="GameStart">
                <label for="Game">Game ID</label>
                <input type="text" name="txtGame" value="" readonly>
                <br/>
                <input type="button" id="start" value="Start Game">
                <ul id="playerList">
                    <li></li>
                </ul>
            </form>
        </div>
        <script>
            var serverSocket = io.connect("http://localhost");
           
            $("#start").on("click", function() {
                var gameId=$("[name='txtGame']").val();
                serverSocket.emit("create", {gameId:gameId});

                // update the URL without posting
               // history.pushState({name: fileName}, fileName, fileName);

            });



            serverSocket.on("updateGameList", function(gameList) {
                
                $('#gameList').html('');
                var gameListLength = gameList.length;
                for(var i = 0; i < gameListLength; i++) {
                    $('#gameList').append('<li>' + gameList[i].id + '</li>');
                }
                
            });
        </script>
    </body>
</html>