<!DOCTYPE html>
<html lang="en">
<head>
  <!--<meta charset="utf-8">-->
  <title>The Game of War</title>
   
  <!-- CSS libraries -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/playingBoard.css"/>

  <!-- Script Libraries -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <p class="brand">The Game of War</p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div id='createJoinGame' class="well sidebar-nav">
            <form id="GameFrm">
                <input type="text" id="playerName" class="span2" name="playerName" value="" placeholder= "Enter Player Name" required>
                <input type="button" id="create" value="Create Game" class="btn"/>
                <br/>
                <div class="btn-group btn-group-vertical" id="gameListInProgress">
                  <h5>Games in progress</h5>
                </div>
                <div class="btn-group btn-group-vertical" id="gameListJoin">
                  <h5>Games to Join</h5>
                </div>
                
            </form>
          </div><!--/.well -->
          <div id="chat" class="well sidebar-nav">
                <h1>chat window</h1>
                <textarea id="txtChat" rows="10" cols="20" readonly></textarea><br/>
                <input type="text" id="txtMessage" class="span2" value="" placeholder= "Enter text" required>
                <input type="button" id="sendMessage" value="Send" class="btn"/>
              </div>  
          <div id='rules' class="well sidebar-nav">
            <ul class="nav">
                  <li>Enter Player Name and click Create to create a new game</li>
                  <li>Enter Player Name, Select Game and click Join to join a game</li>
                  <li>2-6 Players can join a game. Click Deal to start a game</li>
                  <li>One who has the highest number of cards win</li>
                  <li>Game is over when a user has no cards. One with most card wins.</li>
            </ul>
          </div>
        </div><!--/span-->

        <div class="span9">
          <div class="hero-unit" id="welcome">
            <h1>Welcome to the Game of War</h1>
            <p>Just the break with family and friends after a long day.Relax, Chill and Enjoy!!</p>
          </div>
          <div class="hero-unit" id="startGame">
            <form id="PlayFrm">
              <h1>Hello <span id="txtName" class="label"></span> Current Game : <span id="txtGame" class="label"></span></h1>
              <h5>Number of Players :  <span id="nPlayers" class="label"></span> Number of Cards in user stack:  <span id="nCards" class="label"></span></h5>
              <p>To start Game click <input type="button" id="deal" value="Deal Game" class="btn btn-primary btn-lg"></p>
              <p style="display:none">Submit the card <input type="button" id="choosen" value="Choose Card" class="btn btn-primary btn-lg"></p>
            </form>
          </div>
          <div class="row-fluid" id="board">
            <div class="span4">
              <ul class="nav nav-list" id="playerList">
              </ul> 
                         
            </div><!--/span-->
            <div class="span8">
              <div id="card-container">
                  <div id="card1" data-index=0 class="card"></div>
                  <div id="card2" data-index=1 class="card"></div>
                  <div id="card3" data-index=2 class="card"></div>
              </div>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer>
        <p>Code Fellows Javascript Web Socket.io Project </p>
        <p>Games Coordinator : Justin Wheeler, Matthew Ross and Smita Busar </p>
      </footer>
    </div>
    <script src="application1.js"></script>
  </body>
</html>
